In [1]:
a="2"
b=3

In [2]:
a+b # give error

TypeError: can only concatenate str (not "int") to str

In [4]:
int(a)+b

5

In [5]:
# float to int 
a=4.5
int(a)# 4

4

In [6]:
#implicit typecasting >> python understand the datatype
a = 5
type(a)

int

In [7]:
#explicit typecasting >> convert data type using inbuilt functiond>> str, int, float, bool
a = "2"
type(a)
b=int(a)

In [ ]:
a = "piyush"
b = " aggarwal"
a + b #concatenation of string>> meaning combine the string